.banner{
    width: 100vw;
    height: 100vh;
    background-color: #b8193b ;
}
.banner_box{
    color: white;
    position: absolute;
    left: 300px;
}
.banner_box h1{
    font-size: 3rem;
    margin: 100px 0 0 0;
}
.category_bt2{
    position: relative;
    left: 300px;
    top: 300px;
}
.category_bt2 button img{
    height: 50px;
    width: 50px;
}
.category_bt2 button{
    height: 50px;
    width: 50px;
    border-radius: 25px;
    background-color: transparent;
    border: none;
}
.category_bt2 button:hover{
    background-color: #da2249;
    transition: 0.5s;
}